<%- include('partials/header_home'); %>
<link rel="icon" href="images\noteBook.jpg" />
<input type="hidden" name="blogID" value="<%=id%>" />
<div class="button">
    <form class="" action="/editPost/<%=id%>" method="get">
      <button type="submit" name="button" class="btn btn-primary btn-sm">Edit</button>
    </form>
  </div>  
<h1><%= title %></h1>
<p> <%- blogText %> </p>

